<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/signup.css" />
  </head>

  <body>
    <h1>Sign Up</h1>
    <form id="signUpForm">
      <label for="userNameInput">User Name:</label><br />
      <input type="text" id="userNameInput" name="userName" /><br />
      <div id="userNameError"></div>
      <label for="emailInput">Email:</label><br />
      <input type="email" id="emailInput" name="email" /><br />
      <div id="emailError"></div>
      <label for="passwordInput">Password:</label><br />
      <input type="password" id="passwordInput" name="password" /><br />
      <div id="passwordError"></div>
      <label for="rePasswordInput">Re-enter Password:</label><br />
      <input type="password" id="rePasswordInput" name="rePassword" /><br />
      <div id="rePasswordError"></div>
      <br />
      <input type="submit" value="Sign Up" />
    </form>
    <p id="alreadyHaveAccount">
      Already has an account?
      <button onclick="window.location.href='/signin'">Sign In Now!</button>
    </p>

    <script>
      document
        .querySelector("#signUpForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const userName = document.querySelector("#userNameInput").value;
          const email = document.querySelector("#emailInput").value;
          const password = document.querySelector("#passwordInput").value;
          const rePassword = document.querySelector("#rePasswordInput").value;
          const userNameError = document.querySelector("#userNameError");
          const emailError = document.querySelector("#emailError");
          const passwordError = document.querySelector("#passwordError");
          const rePasswordError = document.querySelector("#rePasswordError");

          if (userName === "") {
            console.log("User name cannot be empty");
            userNameError.textContent = "User name cannot be empty";
          }

          if (userName != "") {
            userNameError.textContent = "";
          }

          if (email === "") {
            console.log("Email cannot be empty");
            emailError.textContent = "Email cannot be empty";
          }

          if (email != "") {
            emailError.textContent = "";
          }

          if (password != "") {
            passwordError.textContent = "";
          }
          if (password.length < 6) {
            console.log("The password must have 6 or more characters");
            passwordError.textContent =
              "The password must have 6 or more characters";
          }

          if (rePassword === password) {
            rePasswordError.textContent = "";
          }

          if (rePassword === "") {
            console.log("Password repeat cannot be empty");
            rePasswordError.textContent = "Password repeat cannot be empty";
          }

          if (rePassword != password) {
            console.log("Password repeat does not match");
            rePasswordError.textContent = "Password repeat does not match";
          }

          if (
            password.length >= 6 &&
            email != "" &&
            rePassword === password &&
            userName != ""
          ) {
            fetch("/register", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                email: email,
                password: password,
                userName: userName,
              }),
            })
              .then((res) => res.json())
              .then((data) => {
                console.log({ data });
                if (data.status === "Email already used") {
                  document.querySelector("#emailError").textContent =
                    "Email already used";
                }

                if (data.status === "success") {
                  showAlert();
                }
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          }
        });

      const showAlert = () => {
        const redirect = confirm(
          "Registration success! \n Do you want to go to login page now?"
        );
        {
          redirect && (window.location.href = "/signin");
        }
      };
    </script>
  </body>
</html>
